.git
.venv
**/.venv
venv
**/venv
node_modules
**/node_modules
dist
**/dist
build
**/build
.turbo
**/.turbo
.mypy_cache
**/.mypy_cache
.pytest_cache
**/.pytest_cache
.ruff_cache
**/.ruff_cache
__pycache__
**/__pycache__
*.pyc
**/*.pyc
*.pyo
**/*.pyo
.DS_Store
**/.DS_Store
.coverage
**/.coverage
coverage.xml
**/coverage.xml
.pulumi
**/.pulumi
