ZITADEL_DEFAULT_USER_PASSWORD=not-for-production
AWS_ENDPOINT_URL=http://localhost:4566
AWS_REGION=us-east-1
SQS_PROVISIONING_QUEUE_URL=http://localhost:4566/000000000000/edi-config-sync-queue.fifo
SQS_TRANSFORM_QUEUE_URL=http://localhost:4566/000000000000/edi-transform.fifo
SQS_LIFECYCLE_QUEUE_URL=http://localhost:4566/000000000000/edi-lifecycle.fifo
SQS_DELIVER_QUEUE_URL=http://localhost:4566/000000000000/edi-deliver.fifo
SQS_DATA_PLANE_JOBS_QUEUE_URL=http://localhost:4566/000000000000/edi-data-plane-jobs.fifo
SQS_CONTROL_PLANE_JOBS_QUEUE_URL=http://localhost:4566/000000000000/edi-control-plane-jobs.fifo
SQS_UCP_JOBS_QUEUE_URL=http://localhost:4566/000000000000/ucp-jobs.fifo
SQS_UCP_IDENTITY_SYNC_QUEUE_URL=http://localhost:4566/000000000000/ucp-events.fifo
SQS_IDENTITY_SYNC_QUEUE_URL=http://localhost:4566/000000000000/identity-events.fifo
SQS_PRIORITY_NOTIFICATIONS_QUEUE_URL=http://localhost:4566/000000000000/edi-priority-notifications.fifo
SQS_EMAIL_DELIVERY_QUEUE_URL=http://localhost:4566/000000000000/email-delivery.fifo
