@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&family=Source+Serif+4:wght@400;600&family=JetBrains+Mono:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: oklch(0.9824 0.0013 286.3757);
    --foreground: oklch(0.3211 0 0);
    --card: oklch(1.0000 0 0);
    --card-foreground: oklch(0.3211 0 0);
    --popover: oklch(1.0000 0 0);
    --popover-foreground: oklch(0.3211 0 0);
    --primary: oklch(0.6487 0.1538 150.3071);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.6746 0.1414 261.3380);
    --secondary-foreground: oklch(1.0000 0 0);
    --muted: oklch(0.8828 0.0285 98.1033);
    --muted-foreground: oklch(0.5382 0 0);
    --accent: oklch(0.8269 0.1080 211.9627);
    --accent-foreground: oklch(0.3211 0 0);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.8699 0 0);
    --input: oklch(0.8699 0 0);
    --ring: oklch(0.6487 0.1538 150.3071);
    
    --font-sans: 'Plus Jakarta Sans', sans-serif;
    --font-serif: 'Source Serif 4', serif;
    --font-mono: 'JetBrains Mono', monospace;
    --radius: 0.5rem;
  }

  .dark {
    --background: oklch(0.2303 0.0125 264.2926);
    --foreground: oklch(0.9219 0 0);
    --card: oklch(0.3210 0.0078 223.6661);
    --card-foreground: oklch(0.9219 0 0);
    --popover: oklch(0.3210 0.0078 223.6661);
    --popover-foreground: oklch(0.9219 0 0);
    --primary: oklch(0.6487 0.1538 150.3071);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.5880 0.0993 245.7394);
    --secondary-foreground: oklch(0.9219 0 0);
    --muted: oklch(0.3867 0 0);
    --muted-foreground: oklch(0.7155 0 0);
    --accent: oklch(0.6746 0.1414 261.3380);
    --accent-foreground: oklch(0.9219 0 0);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.3867 0 0);
    --input: oklch(0.3867 0 0);
    --ring: oklch(0.6487 0.1538 150.3071);
  }
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}
